#bilge_chat_content_wrapper{
  width: 95%;
  height: 400px;
  border: 1px solid #eee;
  padding: 2%;
  overflow-y: scroll;

}

#bilge_chat_input{
  border: 1px solid #ccc;
  width: 98%;
  height: 50px;
  font-size: 32px;
  float: left;
  padding: 0 0 0 10px;
}

#bilge_chat_submit{
	padding: 11px 36px 12px 36px;
  font-size: 24px;
  margin: 0 0 0 3px;
  background-color: #b22b43;
  color: #fff;
}

#bilge_chat_input_wrapper{
	margin: 3px 0 0 0;
}

#bilge_chat_content ul{
	list-style:none;
	margin:0;
	padding:0;
}

#bilge_chat_content li{
  margin:0 3px 0 0;
}

#bilge_chat_content p{
  margin:0 0px 3px 0;
}

#bilge_chat_content li span{
	float:left;
	font-weight:bold;
	color:#583cd2;
	margin:0 4px 0 0;
}

#bilge_chat_content li span.bilge{
	color:#138126;
}

p.loading{
	background:url("ajax-loader.gif") center center no-repeat;
	width:20px;
	height:15px;
  margin: 0px 0 0 43px !important;
  padding: 2.4px;
}














